*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    padding: 20px 35px;
}
body{
    background-color: var(--color-background);
    font-size: var(--18-font-size);
    font-weight: var(--500-font-weight);
    font-family: var(--primary-font-family);
}